

<div class = "container" style ="width:60%;">
<%= form_tag messages_path, method: :post do %>


  <h5>
    <!-- <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, style: 'visibility:hidden' %> -->
  </h5>
  <h3 style="color:#fff;">

    Message to :  <%= @chosen_recipient.cut_email %>
  </h3>
  <div class="form-group" >
    <%= label_tag 'message[subject]', 'Title(Say "Hi!")', style: 'color:#fff;font-size:2rem;' %>
    <!-- <%= text_field_tag 'message[subject]', "Hi! " + @chosen_recipient.cut_email, class: 'form-control'%> -->
    <% if @chosen_recipient.fullname? %>
    <%= text_field_tag 'message[subject]', "Hi! " + @chosen_recipient.fullname, class: 'form-control'%>
    <% else %>
    <%= text_field_tag 'message[subject]', "Hi! " + @chosen_recipient.cut_email, class: 'form-control'%>
    <% end %>
  </div>

  <div class="form-group">
    <%= label_tag 'message[body]', '' %>
    <%= text_area_tag 'message[body]', nil, cols: 3, style: 'height:200px;',class: 'form-control', required: true, :placeholder => "ex: Hi,

    Hi, I'm applying to your school next year, can you look at my application essay?

    What kind of job do people get after graduting your school?
    " %>
  </div>


  <%= submit_tag 'Send', class: 'waves-effect waves-light btn' %>

  <div class="form-group" style="height: 3rem;visibility:hidden;">
    <%= label_tag 'recipients', '' %>
    <%= select_tag 'recipients', recipients_options(@chosen_recipient), multiple: true, class: 'form-control chosen-it', style: "visibility:hidden" %>

  </div>
<% end %>
  </div>
