<div class="container cf" style="margin: 2rem auto;"></div>
<div class="container" style="width:90%;">
  <div class="row flex-s">
    <div class="col s12 m12 l6 box-a">
      <div class="col s12 m12 ">
        <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=united+states&commit=Search">
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('whitehouse.jpg', :class => "cover")%>

              <!-- <img src="/assets/images/whitehouse.jpg" class="cover"> -->
              <span class="card-title">United States</span>
            </div>
            <!-- <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
            </div> -->
          </div>
        </a>
      </div>
    </div>
    <div class="col s12 m12 l6">
      <div class="col s6 m6" >
        <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=korea&commit=Search">
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('skorea.jpg', :class => "country_img")%>

              <!-- <img src="/assets/images/skorea.jpg" class="country_img"> -->
              <span class="card-title">S.Korea</span>
            </div>
          </div>
        </a>

      </div>
      <div class="col s6 m6" >
        <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=india&commit=Search">
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('india.jpg', :class => "country_img")%>

              <!-- <img src="india.jpg" class="country_img"> -->
              <span class="card-title">India</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s6 m6" >
        <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=france&commit=Search">
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('frparis.jpg', :class => "country_img")%>

              <!-- <img src="frparis.jpg" class="country_img"> -->
              <span class="card-title">France</span>
            </div>
          </div>
        </a>
      </div>
      <div class="col s6 m6" >
        <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=japan&commit=Search">
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('japan.jpg', :class => "country_img")%>

              <!-- <img src="japan.jpg" class="country_img"> -->
              <span class="card-title">Japan</span>
            </div>
          </div>
        </a>
      </div>
    </div>


  </div>
</div>
