<div class="mentor_container">
  <div class="container">
    <div class="row">
      <div class="col s12 l4 offset-l4 center" style="font-size:2rem;font-weight:600;">
        Popular Mentors

      </div>
    </div>
    <div class="row">


      <a href="/users/176">
        <div class="col s4 m4 l2">
          <div class="card-panel mentor_panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="price center-align">
                  $40/hr
                </div>

                <div class="black-text center-align">
                  Karan Bhagat
                </div>
                <div class="univ_name center-align">
                  University of Copenhagen
                </div>
                <div class="center-align" style="color:#26a69a;font-size:.8rem;">
                  Pharmaceutical Sciences
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/users/25">
        <div class="col s4 m4 l2">
          <div class="card-panel mentor_panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('jeewon.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/jeewon.jpg" alt="" class="circle responsive-img profile_img"> -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="price center-align">
                  $50/hr
                </div>
                <div class="black-text center-align">
                  Jeewon So
                </div>
                <div class="univ_name center-align">
                  Columbia University(PhD)
                </div>
                <div class="center-align" style="color:#26a69a;font-size:.8rem;">
                  Nutritional and Metabolic Biology
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/users/88">
        <div class="col s4 m4 l2">
          <div class="card-panel mentor_panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('boston.png', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/francois.jpg" alt="" class="circle responsive-img profile_img"> -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="price center-align">
                  $50/hr
                </div>
                <div class="black-text center-align">
                  Tae Kyoo Kim

                </div>
                <div class="univ_name center-align">
                  Boston University
                </div>
                <div class="center-align" style="color:#26a69a;font-size:.8rem;">
                  Biology with Specialization in Neurobiology
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="/users/14">
        <div class="col s4 m4 l2">
          <div class="card-panel mentor_panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('han.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/yoyo.jpg" alt="" class="circle responsive-img profile_img">  -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="price center-align">
                  $50/hr
                </div>
                <div class="black-text center-align">
                  Kyoungbo HAN
                </div>
                <div class="univ_name center-align">
                  Graduate Institute of Int. Studies, Switzerland
                </div>
                <div class="center-align" style="color:#26a69a;font-size:.8rem;">
                  Business Administration

                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/users/114">
        <div class="col s4 m4 l2">
          <div class="card-panel mentor_panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('julie.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/yoyo.jpg" alt="" class="circle responsive-img profile_img">  -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="price center-align">
                  $70/hr
                </div>
                <div class="black-text center-align">
                  Julie Kim
                </div>
                <div class="univ_name center-align">
                  Harvard University(MS)
                </div>
                <div class="center-align" style="color:#26a69a;font-size:.8rem;">
                  Education
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="/users/110">
        <div class="col s4 m4 l2">
          <div class="card-panel mentor_panel grey lighten-5 z-depth-1 hoverable">
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <%= image_tag('john.jpg', :class => "circle responsive-img profile_img")%>

                <!-- <img src="/assets/yoyo.jpg" alt="" class="circle responsive-img profile_img">  -->
              </div>
            </div>
            <div class="row valign-wrapper">
              <div class="col s12 l12">
                <div class="price center-align">
                  $70/hr
                </div>
                <div class="black-text center-align">
                  Joonha Chang
                </div>
                <div class="univ_name center-align">
                  Johns Hopkins University(MS)
                </div>
                <div class="center-align" style="color:#26a69a;font-size:.8rem;">
                  Mathematics & Statistics
                </div>
              </div>
            </div>
          </div>
        </div>
      </a>



    </div>

  </div>

</div>
