
<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag('world.jpg')%>

      <!-- <img src="/assets/world.jpg">  -->
      <div class="caption center-align">
        <!-- <h3>Tweedlemate is a networking platform
for students from around the world </h3> -->
      <h4>Don't ask mom. <br>Ask a real student.</h4>

        <!-- <h4>Talk to real students</h4> -->
        <!-- <h5 class="light grey-text text-lighten-3">Tweedlemate is a networking platform
    for international students. </h5> -->
    <h5 class="light grey-text text-lighten-3" style="font-size:1.1rem;">Want to go to Ivy League? Great. </h5>
    <h5 class="light grey-text text-lighten-3" style="font-size:1.1rem;">Let's go ask how they got in. <br>  #Top Universities</h5>

        <div class="home_button">
          <!-- <a href="#modal1" class="modal-trigger sample_button">Korean</a> -->

          <!-- <a href="#modal2" class="modal-trigger sample_button">Sample Profile</a> -->
          <!-- <a href="#modal2" class="modal-trigger sample_button">How to Use</a> -->
          <a href="/how-to-use" class="modal-trigger sample_button">How to Use</a>

          <a href="/sign_up" class="signup_button">Sign Up</a>

        </div>
      </div>

    </li>


    <li>
      <%= image_tag('lib.jpg', :class => "filter")%>

      <!-- <img src="/assets/lib.jpg" style="filter: brightness(40%);">  -->
      <!-- random image -->
      <div class="caption center-align">
        <h3>What to ask?</h3>
        <h5 class="light grey-text text-lighten-3" style="font-size:1.1rem;">
        Proofreading Essays, Study Method, <br>SAT, ACT, IB, GRE, etc<br><br>
        #AskAnything


        </h5>
        <div class="home_button">
          <!-- <a href="#modal1" class="modal-trigger sample_button">Korean</a> -->

          <!-- <a href="#modal2" class="modal-trigger sample_button">Sample Profile</a> -->
          <!-- <a href="#modal2" class="modal-trigger sample_button">How to Use</a> -->
          <a href="/how-to-use" class="modal-trigger sample_button">How to Use</a>

          <a href="/sign_up" class="signup_button">Sign Up</a>

        </div>
      </div>
    </li>
    <li>
      <%= image_tag('glo.jpg', :class => "filter") %>

      <!-- <img src="/assets/glo.jpg" style="filter: brightness(40%);"> -->
      <div class="caption center-align">
        <h4>Become a mentor of <br>your own school</h4>
        <h5 class="light grey-text text-lighten-3" style="font-size:1.1rem;">#Help students coming to your path</h5>
        <div class="home_button">
          <!-- <a href="#modal1" class="modal-trigger sample_button">Korean</a> -->

          <!-- <a href="#modal2" class="modal-trigger sample_button">Sample Profile</a> -->
          <!-- <a href="#modal2" class="modal-trigger sample_button">How to Use</a> -->
          <a href="/how-to-use" class="modal-trigger sample_button">How to Use</a>

          <a href="/sign_up" class="signup_button">Sign Up</a>

        </div>
      </div>
    </li>
    <!-- <li>
      <img src="/assets/whitehouse.jpg">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li> -->
  </ul>

</div>

<%= search_form_for @search do |f| %>
<div class="search_bar">
  <div class="form-row">
    <div class="search_tab">
      <div class="form-group">
        <%= f.label :country, "Country/School", style: "font-weight:700;" %> <br>

        <%= f.text_field :school_or_country_or_nationality_cont, :placeholder => 'Country or School contains'  %>
        <!-- <% options = options_for_select(Country.order(:name).uniq.pluck(:name)) %>

        <%= f.select :country_cont, options, {include_blank: "Select Country"}, style: "width: 300px;" %>
        <%= f.autocomplete_field :country_cont, autocomplete_user_country_suggestions_path, id: "auto_country"  %> -->

        <%= f.submit "Search", class: "waves-effect waves-light btn right", style: "background-color:default !important;" %>

      </div>

    </div>
  </div>
</div>


<% end %>

<!-- Logos --><!-- Logos -->
<!-- Logos -->
<!-- Logos -->
<!-- Logos -->
<!-- Logos -->
<!-- Logos -->

<!-- Logos -->
<div class="logos mentor_container" style="background-color:#ffebee;margin-bottom:2rem;">

    <div class="row">
        <div class="col s4 l1 offset-l1" style="float:left;">
          <%= image_tag('Brown.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>

          <!-- <img src="/assets/images/Brown.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;"> -->

        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('Cornell.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>

        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('CU.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('dartmouth.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('harvard.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('mit.jpg', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('Penn.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('Princeton.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>

        <div class="col s4 l1" style="float:left;">
          <%= image_tag('stan.jpg', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>

        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('Yale.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>


        </div>


    </div>


</div>



<!-- Card -->
<!-- Card -->
<!-- Card -->
<!-- Card -->
<!-- Card -->
<!-- Card -->

<div class="container">
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <h5 class="header center">Connect with real students</h5>
      <a href="/users/25">
        <div class="card hoverable">
          <div class="card-content" style="height:9rem;color:#fff;background-color:#ef9a9a;">
            <!-- <img src="/assets/qjeewon.jpg" alt="" class="circle responsive-img" style="border-radius:50%;width:20%;display:block;float:left;"> -->
            <%= image_tag('qjeewon.jpg', :class => "circle responsive-img", :style => "border-radius:50%;width:20%;display:block;float:left;" )%>

            <div style="width:70%;float:right;background-color:#ef9a9a;">
              <span style="font-size:1.6rem;font-weight:700;">Jeewon So</span>
              <span style="font-size:1.2rem;color:#a94442;font-weight:700;">$30/hr</span>
              <br>PhD in Nutritional and Metabolic Biology

            </div>
          </div>

          <div class="card-action">
            <span style="font-size:.8rem;">
              Self-Intro :
            </span>
            <br>
            <span style="font-size:.8rem;font-weight:600;">
              Currently I am enrolled in a PhD program at Columbia Universtiy, NY.
              I'd love to meet new friends and help out perspective students!

            </span>
          </div>
        </div>
      </a>

    </div>
  </div>
  <div class="row">
    <div class="col s3 l1 offset-l3" style="padding:0 0;">
      <%= image_tag('smile.jpg', :class => "circle responsive-img", :style => "width:50%;display:block;margin:0 auto;" )%>

      <!-- <img src="/assets/smile.jpg" alt="" class="circle responsive-img" style="width:50%;display:block;margin:0 auto;">  -->
      <!-- notice the "circle" class -->

    </div>
    <div class="col s9 l3 " style="padding:0 0;">
      <div class="chat">

      </div>
      <div class="dialogue z-depth-4">
        Hi, my name is Christine, a NYU graduate currently preparing for PhD in Nutrition. Is there any chance we could meet for an hour of consulting? I want to fix my SOP. Thank you
      </div>

    </div>
  </div>
  <div class="row">

    <div class="col s9 l3 offset-l5" style="padding:0 0;">
      <div class="chat">

      </div>
      <div class="dialogue z-depth-4">
Hi, its my third year in Nutritional and Metabolic Biology at Columbia Graduate School of Arts, and Science. Are you in NYC now? I will do my best to help you out. Let's get a cup of coffee soon :)
      </div>

    </div>
    <div class="col s3 l1" style="padding:0 0;">
      <%= image_tag('qjeewon.jpg', :class => "circle responsive-img", :style => "width:50%;display:block;margin:0 auto;" )%>

      <!-- <img src="/assets/qjeewon.jpg" alt="" class="circle responsive-img" style="width:50%;display:block;margin:0 auto;"> -->
       <!-- notice the "circle" class -->

    </div>
  </div>
</div>

<script>
$(document).ready(function() {

  $('.slider').slider({full_width: true, interval:12000000});
  $('.slider').slider('pause');
  // Start slider
  $('.slider').slider('start');
  // Next slide
  $('.slider').slider('next');
  // Previous slide
  $('.slider').slider('prev');
});
</script>
