
<div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag('world.jpg')%>

      <!-- <img src="/assets/world.jpg">  -->
      <div class="caption center-align">
        <!-- <h3>Tweedlemate is a networking platform
for students from around the world </h3> -->
      <h4>
        <!-- Don't go to consultants. <br> -->
        Talk to real students.</h4>

        <!-- <h4>Talk to real students</h4> -->
        <!-- <h5 class="light grey-text text-lighten-3">Tweedlemate is a networking platform
    for international students. </h5> -->
    <h5 class="light grey-text text-lighten-3" style="font-size:1.1rem;">Want to apply for your dream school? Great. </h5>
    <h5 class="light grey-text text-lighten-3" style="font-size:1.1rem;">Let's go ask how they got in. <br>  #Top Universities</h5>

        <div class="home_button">
          <!-- <a href="#modal1" class="modal-trigger sample_button">Korean</a> -->

          <!-- <a href="#modal2" class="modal-trigger sample_button">Sample Profile</a> -->
          <!-- <a href="#modal2" class="modal-trigger sample_button">How to Use</a> -->
          <a href="/about" class="modal-trigger sample_button">About</a>

          <a href="/sign_up" class="signup_button">Sign Up</a>

        </div>
      </div>

    </li>


    <li>
      <%= image_tag('lib.jpg', :class => "filter")%>

      <!-- <img src="/assets/lib.jpg" style="filter: brightness(40%);">  -->
      <!-- random image -->
      <div class="caption center-align">
        <h3>What to ask?</h3>
        <h5 class="light grey-text text-lighten-3" style="font-size:1.1rem;">
        Proofreading Essays, Practice Interview, <br> Studying SAT, ACT, IB, GRE, etc<br><br>
        #AskAnything


        </h5>
        <div class="home_button">
          <!-- <a href="#modal1" class="modal-trigger sample_button">Korean</a> -->

          <!-- <a href="#modal2" class="modal-trigger sample_button">Sample Profile</a> -->
          <!-- <a href="#modal2" class="modal-trigger sample_button">How to Use</a> -->
          <!-- <a href="/how-to-use" class="modal-trigger sample_button">FAQs</a> -->
          <a href="/about" class="modal-trigger sample_button">About</a>

          <a href="/sign_up" class="signup_button">Sign Up</a>

        </div>
      </div>
    </li>
    <li>
      <%= image_tag('glo.jpg', :class => "filter") %>

      <!-- <img src="/assets/glo.jpg" style="filter: brightness(40%);"> -->
      <div class="caption center-align">
        <h4>Become a mentor of <br>your own school</h4>
        <h5 class="light grey-text text-lighten-3" style="font-size:1.1rem;">#Help students coming to your path</h5>
        <div class="home_button">
          <!-- <a href="#modal1" class="modal-trigger sample_button">Korean</a> -->

          <!-- <a href="#modal2" class="modal-trigger sample_button">Sample Profile</a> -->
          <!-- <a href="#modal2" class="modal-trigger sample_button">How to Use</a> -->
          <!-- <a href="/how-to-use" class="modal-trigger sample_button">FAQs</a> -->
          <a href="/about" class="modal-trigger sample_button">About</a>

          <a href="/sign_up" class="signup_button">Sign Up</a>

        </div>
      </div>
    </li>
    <!-- <li>
      <img src="/assets/whitehouse.jpg">
      <div class="caption center-align">
        <h3>This is our big Tagline!</h3>
        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
      </div>
    </li> -->
  </ul>

</div>

<%= search_form_for @search do |f| %>
<div class="search_bar">
  <div class="form-row">
    <div class="search_tab">
      <div class="form-group">
        <%= f.label :country, "Country/School/Major/Scholarship", style: "font-weight:700;" %> <br>

        <%= f.text_field :scholarships_name_or_educations_education_or_school_or_nationality_or_major_or_country_or_description_or_fullname_cont, :placeholder => 'Country/School/Major/Scholarship contains'  %>


        <!-- <% options = options_for_select(Country.order(:name).uniq.pluck(:name)) %>

        <%= f.select :country_cont, options, {include_blank: "Select Country"}, style: "width: 300px;" %>
        <%= f.autocomplete_field :country_cont, autocomplete_user_country_suggestions_path, id: "auto_country"  %> -->

        <%= f.submit "Search", class: "waves-effect waves-light btn right", style: "background-color:default !important;" %>

      </div>

    </div>
  </div>
</div>


<% end %>

<!-- Logos --><!-- Logos -->
<!-- Logos -->
<div class="row">

    <!-- col-md-9 -->

  <div class="col s12 m12 l12" style="padding-left:0;">
    <div class="portrait_container">

      <% @arrUsers.each do |user| %>
          <% if user.uid? || user.profile_img? %>
            <% end %>
            <% user.revisers.each do |reviser| %>
              <% if reviser.active == true %>
              <% end %>
            <% end %>
            <% if user.status != "no"%>
            <% if user.state == "mentor" %>

                <%= link_to new_message_path(to: user.id) do %>
                <% end %>

                <%= link_to user_path(user) do %>

                <div class="user-layout">
                  <%= render 'userPortrait', user: user %>
                </div>
                <% end %>

              <% end %>
              <% end %>
      <% end %>
    </div>
  </div>        <!-- col-md-3 -->


</div>        <!-- row -->

<!-- Logos -->
<!-- Logos -->

<script>
$(document).ready(function() {

  $('.slider').slider({full_width: true, interval:12000000});
  $('.slider').slider('pause');
  // Start slider
  $('.slider').slider('start');
  // Next slide
  $('.slider').slider('next');
  // Previous slide
  $('.slider').slider('prev');
});
</script>
