<!-- Logos -->
<!-- Logos -->

<!-- Logos -->
<div class="logos mentor_container" style="background-color:#ffebee;margin-bottom:2rem;">

    <div class="row">
        <div class="col s4 l1 offset-l1" style="float:left;">
          <%= image_tag('Brown.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>

          <!-- <img src="/assets/images/Brown.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;"> -->

        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('Cornell.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>

        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('CU.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('dartmouth.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('harvard.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('mit.jpg', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('Penn.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('Princeton.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>
        </div>

        <div class="col s4 l1" style="float:left;">
          <%= image_tag('stan.jpg', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>

        </div>
        <div class="col s4 l1" style="float:left;">
          <%= image_tag('Yale.gif', :class => "responsive-img", :style => "border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;" )%>


        </div>


    </div>


</div>
