
<div class="pricing">
  <div id="pricing-note" style="color:#707070;">
    Pricing
  </div>
  <div id="pricing-note-2">*Pay Directly to the Mentor</div>
  <div class="row">
          <div class="col s12 m12 l4 valign-wrapper">

            <div id="pricing" style="float:;"class="">
              <div class="pricing_img">
                <%= image_tag('message.jpg', :style => "width:100%;")%>

              </div>

              <div class="pricing_overview">
                <h1 style="color:#e5ac73;">
                  Messaging

                </h1>
                <h2>
                  Say Hi, introduce yourself and
                  get connected with mentors
                </h2>
                <h3>
                  <!-- 자신이 희망하는 학교의 선배님을 찾아 직접 연락하세요! -->
                  Request a Session,
                  Confirm Time and Place(online/offline)

                </h3>
                <h1 style="color:#e5ac73;margin:0 0;padding:0 0;margin-top:1rem;">
                  $0

                </h1><span style="font-size:.8rem;color:#333;">*Always Free</span>

              </div>

            </div>


          </div>


          <div class="col s12 m12 l4 valign-wrapper">
            <%= image_tag('arrow.png', :style => "", :class =>"arrow")%>

            <div id="pricing" style="float:right;"class="">

              <div class="pricing_img">
                <%= image_tag('coffee.jpg', :style => "width:100%;")%>

              </div>

              <div class="pricing_overview">
                <h1 style="color:#e57373;">
                  Coffee Session

                </h1>
                <h2>
                  Get to know each other,
                  Talk about your plan,
                  Find out how mentors can help you.

                </h2>
                <h3>
                  General Information,
                  School Reputation,
                  Benefits of Education


                </h3>
                <h1 style="color:#e57373;margin:0 0;padding:0 0;margin-top:1rem;">
                  $10/Cup of Coffee

                </h1>
                <!-- <span style="font-size:.8rem;color:#333;">*Depends on the Mentor</span> -->
              </div>

            </div>


          </div>


          <div class="col s12 m12 l4 valign-wrapper">
            <%= image_tag('arrow.png', :style => "", :class =>"arrow")%>

            <div id="pricing" style="float:right;"class="">

              <div class="pricing_img" style="background-size:100%;">
                <%= image_tag('leadconsult.jpg', :style => "width:100%;")%>



              </div>

              <div class="pricing_overview">
                <h1 style="color:#e573e5;">
                  Consulting Session

                </h1>
                <h2>
                  <!-- Now you know where to go, follow your mentor's lead and execute your plan! -->
                  Now you know where to go, follow your mentor's lead!
                </h2>
                <h3>
                  Essay Review, Interview Practice, Mentoring of <br>Any Kind

                </h3>
                <h1 style="color:#e573e5;margin:0 0;padding:0 0;margin-top:1rem;">
                  $30~$200/hr
                </h1><span style="font-size:.8rem;color:#333;">*Depends on the Mentor</span>
              </div>

            </div>


          </div>

  </div>
</div>
