<div class="container cf" style="margin: 2rem auto;"></div>
<div class="container" style="width:90%;">
  <div class="row">

    <div class="col s12 m12 l6">

      <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=columbia&commit=Search">
        <div class="col s6 m6" >
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('columbia.jpg', :class => "country_img")%>

              <!-- <img src="/assets/columbia.jpg" class="country_img"> -->
              <span class="card-title">Columbia</span>
            </div>
          </div>
        </div>
      </a>
      <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=hopkins&commit=Search">
        <div class="col s6 m6" >
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('hopkins.jpg', :class => "country_img")%>

              <!-- <img src="/assets/hopkins.jpg" class="country_img"> -->
              <span class="card-title">J.Hopkins</span>
            </div>
          </div>
        </div>
      </a>


      <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=nyu&commit=Search">
        <div class="col s6 m6" >
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('nyu.jpg', :class => "country_img")%>

              <!-- <img src="/assets/nyu.jpg" class="country_img"> -->
              <span class="card-title">NYU</span>
            </div>
          </div>
        </div>
      </a>


      <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=geneva&commit=Search">
        <div class="col s6 m6" >
          <div class="card hoverable" id="card">
            <div class="card-image">
              <%= image_tag('geneva.jpg', :class => "country_img")%>

              <!-- <img src="/assets/geneva.jpg" class="country_img"> -->
              <span class="card-title" style="font-size:2rem;">Geneva</span>
            </div>
          </div>
        </div>
      </a>


    </div>
    <a href="/users?utf8=✓&q%5Bschool_or_nationality_or_country_cont%5D=harvard&commit=Search">
      <div class="col s12 m12 l6">
        <div class="col s12 m12 ">
            <div class="card hoverable" id="card">
              <div class="card-image">
                <%= image_tag('harvardb.jpg', :class => "cover")%>

                <!-- <img src="/assets/harvardb.jpg" class="cover"> -->
                <span class="card-title">Harvard</span>
              </div>
              <!-- <div class="card-content">
                <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
              </div>
              <div class="card-action">
                <a href="#">This is a link</a>
              </div> -->
            </div>
        </div>
      </div>
    </a>

  </div>
</div>
