<div class="real">
  <row>
    <div class="col s12 m12 l12" style="margin-bottom:1rem;">
      <div id="real-note">
        <!-- 실제 합격생에게 상담받으세요 <br> -->

        Tweedlemate is a platform<br>
          for students from around the world <br>

        <!-- Want to Help other students coming <br>to your school? <br><br> -->
          <!-- Want to study abroad?  <br>
          Ask students who's already there -->
          <!-- Help students coming to your school! -->

          <!-- Do you want real
          information
          <br>about your next school ?
          <br>
          Talk to real students! -->

      </div>
    </div>

    <div class="col s12 m12 l12">
      <div id="real">

                Find the right person to ask the right questions. <br>
                 Look up students at your dream school or city and
                 ask about <br>their experiences in admissions, even social life.


        <!-- Language barrier, Reviewing Application Essay, Finding an accomodation...  <br>
        Become a Mentor or Tutor <br>
        to Help students    <br>
        who are about to walk the same path.  <br>
        ** We take No commission :) ** <br> -->
        <!-- How to apply ? How to get in ? How to live there ? <br> -->
        <!-- Get in touch with an actual accepted student   <br>
        who has already walked the same path.  <br> -->

        <!-- Schedule a consultation with a senior and get prepared  <br> -->
      </div>
    </div>
    <div class="col s12 m12 l12" style="margin-bottom:1rem;">
      <!-- <div id="real">
              <a href="#modal3" class="modal-trigger profile_button">하버드</a>,

             <a href="#modal4" class="modal-trigger profile_button">존스홉킨스</a>,


               <a href="#modal5" class="modal-trigger profile_button">콜롬비아</a>,


              <a href="#modal6" class="modal-trigger profile_button">시카고</a>..


          <br>
      자녀분을 미국 아이비리그로 보내고 싶으신가요?  <br>
      그 과정을 재학생들에게 직접 물어보세요!
      </div> -->
    </div>

    <div class="home_button">
      <a href="#modal1" class="modal-trigger sample_button">Korean</a>

      <a href="#modal2" class="modal-trigger sample_button">English</a>

      <a href="/sign_up" class="signup_button">Sign Up</a>

    </div>




  </row>


</div>
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content" style="">
    멘토를 검색하고 메세지를 보내보세요! <br>
    상담시간을 예약하고 직접 질문하실 수 있습니다! <br>

    <h5 style="margin-left:1rem;">프로필 쌤플(실제 학생)</h5>
    <%= image_tag('//s3-ap-northeast-2.amazonaws.com/tweedlemate/users/profile_imgs/000/000/118/medium/IMG_7719.JPG?1473069686', :style => "margin-left:1.5rem;max-width:200px;")%>
  <p>
    안녕하세요. 마린입니다. 저는 미국 Connecticut주에 있는 Wesleyan University에서 이번 5월에 졸업했고요, 대학에선 College of Social Studies하는 전공을 공부 했습니다. 이 전공은 Oxford에 있는 Philosophy, Politics and Economics 전공을 모델하여 역사, 경제학, 철학에 포커스가 있었습니다.

    <br><br>매주 에세이를 쓰는 연습을 해서, 논문쓰는 과외에 제일 자신있습니다. 교수님들과도 친해지는 경우가 많아서, 대학에 대해 상담도 잘해줄 수 있습니다. 대학 application process에 대해서 많은 리서치를 해봤고, 방금 대학 졸업을 해서, 지금 많은 도움을 줄 자신 있습니다!
    <br><br>경력: SAT 점수: 2300/2400. 미국 가장 오래된 엘리트 클럽 Phi Beta Kappa 회원 대학 GPA: 3.99/4.0 미국 펠로십 프로그램 Mellon Mays Undergraduate Fellow Columbia University 교수의 연구 보조원
  <br><br>
   **<a href="http://www.tweedlemate.com/users/118" >
    <b>Wesleyan 대학 학생의 자세한 프로필 확인!</b>
  </a>
  </p>
    <!-- <ul class="collapsible" data-collapsible="accordion"> -->

      <!-- <li>
        <div class="collapsible-header">존스홉킨스</div>
        <div class="collapsible-body">
          <p>

            <%= image_tag('john.jpg', :style => "max-width:200px;")%>

            <p>
            안녕하세요 :) 고등학교를 한국도 미국도 아닌 타지에서 생활을 하면서, 원래 한국 대학 진학을 목표로 하다가 11학년 종료 후 진로를 틀어서 미국 대학으로 진학하게 된 한 청년입니다. <br><br>Johns Hopkins University에서 Applied Mathematics & Statistics 전공으로 학/석사 (Bachelor's & Master's) 동시 프로그램을 4년 졸업하였고, 현재는 University of Texas Health Science Center at Houston에서 Biostatistics PhD 프로그램에서 1년차로써 공부중입니다. <br><br>학부에서 전공하는 와중에 Operations Research  (산업공학과), Statistics (통계학과) 및 빅데이터 분석/데이터 마이닝/기계학습 (Computer Science 관련) 등의 다양한 분야를 아우르는 와중에 금융시장쪽 취업부터 연구직 및 대학원 진학까지 많이 경험해보고 탐색해본 학생으로써 각각의 필드로 가는데에 필요한 정보와 소양을 많이 볼 수 있었습니다. 부족하지만 최대한 도움이 되는대로 조언을 드릴 수 있도록 하겠습니다. 감사합니다!

            <br><br>
             **<a href="http://www.tweedlemate.com/users/110" >
              <b>존스홉킨스 학생의 자세한 프로필 확인!</b>
            </a>

          </p>

          </p>
        </div>
      </li>
      <li>
        <div class="collapsible-header">콜롬비아</div>
        <div class="collapsible-body">
          <%= image_tag('jeewon.jpg', :style => "margin-left:1.5rem;max-width:200px;display:inline;")%>
        <p>
        대원외고를 졸업하고 미국의 Colgate University로 전액장학금, 현재는 Columbia Universtiy에서 PhD(전액장학금+생활비)를 하면서 뉴욕에서 살고 있는 소지원 입니다. 고등학교, 대학교, 대학원 전부 정말 힘겹게 들어갔는데, 후배들에게 제 경험이 도움이 되었으면 좋겠습니다^^
        <br><br>
        Originally from South Korea, I finished my undergraduate education at Colgate University, NY. Currently I am enrolled in a PhD program at Columbia Universtiy, NY. During my time at Colgate I went abroad to Ca Foscari University in Venice, Italy and Yonsei University in Seoul, South Korea a semester each as a visiting student, and University of Kiel in Kiel, Germany for a summer as a student researcher. I am fluent in Korean and English and love to meet new friends and help out visiting students!
        <br><br>
         **<a href="http://www.tweedlemate.com/users/25" >
          <b>콜롬비아 학생의 프로필 확인!</b>
        </a>
        </p></div>
      </li>
      <li>
        <div class="collapsible-header">하버드</div>
        <div class="collapsible-body">
          <p>
            <%= image_tag('harvard.jpg', :style => "margin-left:1.5rem;max-width:200px;display:inline;")%>
          <p>
            안녕하세요!
          Hello! I attended University of Southern California majoring in Business Administration. I also attended Harvard University majoring in Education (grad school). I am currently working for Ed Tech company in South Korea. Previously, I worked as a college admissions consultant for 2 years. I can assist and advise you with personal statement, UC short-responses, and supplemental essays!
          <br><br>
           **<a href="http://www.tweedlemate.com/users/114" >
            <b>하버드 학생의 자세한 프로필 확인!</b>
          </a>
          </p>
          </p>

        </div>
      </li>
      <li>
        <div class="collapsible-header">Wesleyan University</div>
        <div class="collapsible-body">
          <p>
            <%= image_tag('marine.jpeg', :style => "margin-left:1.5rem;max-width:200px;")%>
          <p>
            안녕하세요. 마린입니다. 저는 미국 Connecticut주에 있는 Wesleyan University에서 이번 5월에 졸업했고요, 대학에선 College of Social Studies하는 전공을 공부 했습니다. 이 전공은 Oxford에 있는 Philosophy, Politics and Economics 전공을 모델하여 역사, 경제학, 철학에 포커스가 있었습니다.

            <br><br>매주 에세이를 쓰는 연습을 해서, 논문쓰는 과외에 제일 자신있습니다. 교수님들과도 친해지는 경우가 많아서, 대학에 대해 상담도 잘해줄 수 있습니다. 대학 application process에 대해서 많은 리서치를 해봤고, 방금 대학 졸업을 해서, 지금 많은 도움을 줄 자신 있습니다!
            <br><br>경력: SAT 점수: 2300/2400. 미국 가장 오래된 엘리트 클럽 Phi Beta Kappa 회원 대학 GPA: 3.99/4.0 미국 펠로십 프로그램 Mellon Mays Undergraduate Fellow Columbia University 교수의 연구 보조원
          <br><br>
           **<a href="http://www.tweedlemate.com/users/118" >
            <b>Wesleyan 학생의 자세한 프로필 확인!</b>
          </a>
          </p>
          </p>

        </div>
      </li> -->
      <!-- </ul> -->
    </div>




  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green waves-light btn ">Okay!</a>
  </div> -->
</div>
<div id="modal2" class="modal modal-fixed-footer">
  <div class="modal-content">
    <b>
      Send a Message and book an appointment! <br>
      Ask about their experiences in admissions, and
      get help on writing application essay!
    </b>
    <h5>Columbia University</h5>
    <p>
    <%= image_tag('jeewon.jpg', :style => "margin-left:1.5rem;max-width:200px;display:inline;")%>

    Originally from South Korea, I finished my undergraduate education at Colgate University, NY. Currently I am enrolled in a PhD program at Columbia Universtiy, NY. During my time at Colgate I went abroad to Ca Foscari University in Venice, Italy and Yonsei University in Seoul, South Korea a semester each as a visiting student, and University of Kiel in Kiel, Germany for a summer as a student researcher. I am fluent in Korean and English and love to meet new friends and help out visiting students!
    <br><br>

     **<a href="http://www.tweedlemate.com/users/25" >

      <b>Click here to Send her a message!</b>
      </a>


    </p>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green waves-light btn ">Okay!</a>
  </div> -->
</div>
<div id="modal3" class="modal modal-fixed-footer">
  <div class="modal-content">
    <b>
      Send a Message and book an appointment! <br>
      Ask about their experiences in admissions, and
      get help on writing application essay!
    </b>
    <h5>Sample Profile</h5>
    <p>
      <%= image_tag('harvard.jpg', :style => "margin-left:1.5rem;max-width:200px;display:block;")%>
      Hello! I attended University of Southern California majoring in Business Administration. I also attended Harvard University majoring in Education (grad school). I am currently working for Ed Tech company in South Korea. Previously, I worked as a college admissions consultant for 2 years. I can assist and advise you with personal statement, UC short-responses, and supplemental essays!


    <br><br>
     **<a href="http://www.tweedlemate.com/users/114" >
      <b>Click here to Send her a message!</b>
    </a>


    </p>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green waves-light btn ">Okay!</a>
  </div> -->
</div>
<div id="modal4" class="modal modal-fixed-footer">
  <div class="modal-content">

    <h5>Johns Hopkins University</h5>
    <p>
      <%= image_tag('john.jpg', :style => "max-width:200px;")%>

      <p>
      안녕하세요 :) 고등학교를 한국도 미국도 아닌 타지에서 생활을 하면서, 원래 한국 대학 진학을 목표로 하다가 11학년 종료 후 진로를 틀어서 미국 대학으로 진학하게 된 한 청년입니다. <br><br>Johns Hopkins University에서 Applied Mathematics & Statistics 전공으로 학/석사 (Bachelor's & Master's) 동시 프로그램을 4년 졸업하였고, 현재는 University of Texas Health Science Center at Houston에서 Biostatistics PhD 프로그램에서 1년차로써 공부중입니다. <br><br>학부에서 전공하는 와중에 Operations Research  (산업공학과), Statistics (통계학과) 및 빅데이터 분석/데이터 마이닝/기계학습 (Computer Science 관련) 등의 다양한 분야를 아우르는 와중에 금융시장쪽 취업부터 연구직 및 대학원 진학까지 많이 경험해보고 탐색해본 학생으로써 각각의 필드로 가는데에 필요한 정보와 소양을 많이 볼 수 있었습니다. 부족하지만 최대한 도움이 되는대로 조언을 드릴 수 있도록 하겠습니다. 감사합니다!

      <br><br>
       **<a href="http://www.tweedlemate.com/users/110" >
        <b>존스홉킨스 학생의 자세한 프로필 확인!</b>
      </a>


    </p>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green waves-light btn ">Okay!</a>
  </div> -->
</div>
<div id="modal5" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Columbia University</h5>

    <%= image_tag('jeewon.jpg', :style => "margin-left:1.5rem;max-width:200px;display:inline;")%>
  <p>
  대원외고를 졸업하고 미국의 Colgate University로 전액장학금, 현재는 Columbia Universtiy에서 PhD(전액장학금+생활비)를 하면서 뉴욕에서 살고 있는 소지원 입니다. 고등학교, 대학교, 대학원 전부 정말 힘겹게 들어갔는데, 후배들에게 제 경험이 도움이 되었으면 좋겠습니다^^
  <br><br>
  Originally from South Korea, I finished my undergraduate education at Colgate University, NY. Currently I am enrolled in a PhD program at Columbia Universtiy, NY. During my time at Colgate I went abroad to Ca Foscari University in Venice, Italy and Yonsei University in Seoul, South Korea a semester each as a visiting student, and University of Kiel in Kiel, Germany for a summer as a student researcher. I am fluent in Korean and English and love to meet new friends and help out visiting students!
  <br><br>
   **<a href="http://www.tweedlemate.com/users/25" >
    <b>콜롬비아 학생의 프로필 확인!</b>
  </a>
  </p>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green waves-light btn ">Okay!</a>
  </div> -->
</div>
<div id="modal6" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h5>Chicago University</h5>

    <%= image_tag('Catherine.jpg', :style => "margin-left:1.5rem;max-width:200px;display:inline;")%>
  <p>

  안녕하세요, 고등학교 1학년까지 한국에 있는 고등학교에서 공부를 하다 미국에 있는 유명 사립 고등학교로 전학을 가 공부를 이어가다 현재는 시카고 대학교에서 생명공학과 컴퓨터 공학을 공부하고 있는 유학생입니다. 미국에 늦게 진학한만큼 한국 학생들이 미국 교육 과정과 입시 제도를 따라가면서 흔히 겪는 어려움을 저 자신 또한 많이 겪어 보았다고 생각합니다. 이 기회를 통해서 많은 후배들에게 도움이 되는 멘토가 될 수 있었으면 좋겠네요^^.


  <br><br>
   **<a href="http://www.tweedlemate.com/users/25" >
    <b>시카고 학생의 프로필 확인!</b>
  </a>
  </p>
  </div>
  <!-- <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green waves-light btn ">Okay!</a>
  </div> -->
</div>

<div class="white_background">
  <div class="container_index">
        <div class="container-body">

          <div class="row">

              <%= search_form_for @search do |f| %>

                <div class="form-inline">

                  <div class="form-row">

                      <div class="col-md-12" style="text-align:center;margin-bottom:2rem;font-size:1.5rem;font-weight:700;">
                        Search Profile and Get Help
                        <br>
                      </div>
                  </div>
                  <div class="form-row">

                    <!-- <div class="col s12 m412 l4">
                      <div class="form-group">
                        <%= f.label :school_cont, "School", style: "font-weight:700;" %> <br>

                        <%= f.autocomplete_field :school_cont, autocomplete_user_school_suggestions_path, id: "auto"  %>



                      </div>

                    </div> -->
                    <div class=" col s12 m12 l4">
                      <div class="form-group">
                        <%= f.label :school_cont, "Select from List", style: "font-weight:700;" %> <br>
                        <% options = options_for_select(User.yes.order(:school).uniq.pluck(:school)) %>

                        <%= f.select :school_cont, options, {include_blank: "Select University"}, style: "width: 300px;" %>

                      </div>
                    </div>
                    <div class=" col s12 m12 l4">
                      <div class="form-group">
                        <%= f.label :major_cont, "or Major" %>
                        <!-- <%= f.autocomplete_field :major_cont, autocomplete_user_major_suggestions_path, class: "form-control", id: "auto" %> -->
                        <% options = options_for_select(User.yes.order(:major).uniq.pluck(:major)) %>
                        <%= f.select :major_cont, options, {include_blank: "Select Major"}, style: "width: 290px;" %>

                      </div>
                    </div>
                    <!-- <div class="input-field col s12 m12 l4">
                      <div class="form-group">
                        <%= f.label :school_cont, "Select from List", style: "font-weight:700;" %> <br>
                        <% options = options_for_select(User.order(:school).uniq.pluck(:school)) %>
                        <%= f.select :school_cont, options, {include_blank: "Select University"}, style: "width: 300px;" %>

                      </div>
                    </div> -->




                    <br>
                    <br>
                  </div>

                </div>



                <div class="row">
                  <div class="col-3">

                  </div>
                  <div class="col-9 pull-right">
                  <br>  *You may leave blanks for any column

                  </div>

                </div>
                <!-- <div id="submit">
                  <%= link_to "All Profiles", "/users?utf8=%E2%9C%93&q%5Bcountry_cont%5D=&q%5Bcity_cont%5D=&q%5Bschool_cont%5D=&q%5Bmajor_cont%5D=&commit=Search", class: "waves-effect waves-light btn" %>

                </div> -->
                <div id="submit" >
                  <%= f.submit "Search", class: "waves-effect waves-light btn right", style: "" %>

                </div>
              <% end %>



          </div>

        </div>



    </div>




</div>
<br>




<br>

<!-- <div class="white_background">
  <div class="container_index" >

  </div>
</div> -->





<!-- <br>

<div class="commission">
  <i>Commission Free Until October!!</i>
</div>
<br><br>
 -->
