
<!-- -->

<!-- -->

<!-- Card Profile-->
<!-- Card Profile-->
<!-- Card Profile-->



<div class="container">
  <div class="row">

    <div class="col s12 m4 offset-m4">
      <h5 class="header center">Connect with real students</h5>
      <div class="card">
        <div class="card-content" style="height:7rem;color:#fff;background-color:#ef9a9a;">
          <img src="/assets/qjeewon.jpg" alt="" class="circle responsive-img" style="border-radius:50%;width:20%;display:block;float:left;"> <!-- notice the "circle" class -->

          <div style="width:70%;float:right;background-color:#ef9a9a;">
            <span style="font-size:1.6rem;font-weight:700;">Jeewon So</span>
            <br>PhD in Nutritional and Metabolic Biology
          </div>
        </div>

        <div class="card-action">
          <span style="font-size:.8rem;">
            Message from Mentor :
          </span>
          <br>
          <span style="font-size:.8rem;font-weight:600;">
            Currently I am enrolled in a PhD program at Columbia Universtiy, NY.
            I'd love to meet new friends and help out perspective students!

          </span>
        </div>
      </div>  <!-- card -->

    </div> <!-- col s12 -->

  </div>    <!-- row -->

  <div class="row">
    <div class="col s3 l1 offset-l4" style="padding:0 0;margin-top:1rem;">

      <img src="/assets/smile.jpg" alt="" class="circle responsive-img" style="width:50%;display:block;margin:0 auto;"> <!-- notice the "circle" class -->

    </div>
    <div class="col s9 l3 " style="padding:0 0;margin-top:1rem;">
      <div class="chat">

      </div>
      <div class="dialogue z-depth-4">
        Hi, my name is Christine, a NYU graduate currently preparing for PhD in Nutrition. Can I ask which program your are in? I’d like to get some advice. Is there any chance we could meet for an hour for consulting? Thank you
      </div>

    </div>

    <!-- pics -->

  </div>   <!-- row -->


  <div class="row">
    <div class="col s9 l3 offset-l4" style="padding:0 0;margin-top:1rem;">
      <div class="chat">

      </div>
      <div class="dialogue z-depth-4">
  Hi, its my third year in Nutritional and Metabolic Biology at Columbia Graduate School of Arts, and Science. Are you in NYC now? I will do my best to help you out. Let's get a cup of coffee soon :)
      </div>

    </div>
    <div class="col s3 l1" style="padding:0 0;margin-top:1rem;">

      <img src="/assets/qjeewon.jpg" alt="" class="circle responsive-img" style="width:50%;display:block;margin:0 auto;"> <!-- notice the "circle" class -->

    </div>


  </div>  <!-- row -->



</div> <!-- container -->


<div class="mentor_container" style="background-color:#ffebee;">

    <div class="row">
        <div class="col s4 l1 offset-l1" style="float:left;">
          <img src="/assets/Brown.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/Cornell.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/CU.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/dartmouth.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/harvard.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/mit.jpg" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div><div class="col s4 l1" style="float:left;">
          <img src="/assets/Penn.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/Princeton.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>

        <div class="col s4 l1" style="float:left;">
          <img src="/assets/stan.jpg" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/Yale.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>


    </div>


</div>






<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->


















<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <div class="carousel-item red white-text" href="#one!" style="">
    <div class="row">
      <div class="col s6 m6 l2 amber">ab</div>
      <div class="col s6 m6 l2 green">ab</div>
      <div class="col s6 m6 l2 blue">ab</div>
      <div class="col s6 m6 l2 white">ab</div>
      <div class="col s6 m6 l2 black">ab</div>
      <div class="col s6 m6 l2 blue">ab</div>
    </div>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>



<!-- carouselcarouselcarouselcarouselcarouselcarouselcarouselcarouselcarouselcarousel-->
<div class="carousel">

  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>

</div>
