<div class="container">

  <div class="row">
    <div class="col s2 l2">
      <div class="right-align" style="font-size:38px;padding-right:1rem;">
        01
      </div>
    </div>
    <div class="col s9 l9">
      <div class="guide" style="border-left: 6px solid #e57373;padding-left:2rem;">
        This is an example quotation that uses the blockquote tag.  <br>
        This is an example quotation that uses the blockquote tag.  <br>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col s2 l2">
      <div class="right-align" style="font-size:38px;padding-right:1rem;">
        02
      </div>
    </div>
    <div class="col s9 l9">
      <div class="guide" style="border-left: 6px solid #e57373;padding-left:2rem;">
        This is an example quotation that uses the blockquote tag.  <br>
        This is an example quotation that uses the blockquote tag.  <br>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col s2 l2">
      <div class="right-align" style="font-size:38px;padding-right:1rem;">
        03
      </div>
    </div>
    <div class="col s9 l9">
      <div class="guide" style="border-left: 6px solid #e57373;padding-left:2rem;">
        This is an example quotation that uses the blockquote tag.  <br>
        This is an example quotation that uses the blockquote tag.  <br>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s2">
            <img src="/assets/talk.png" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->

            <!-- <%= image_tag('talk.png', :class => "circle", :style => "width:100%;" )%> -->

          </div>
          <div class="col s10">
            <div class="black-text" style="border-underline:1px #333 solid;">
              This is a square image. Add the "circle" class to it to make it appear circular.
            </div>
            <span class="black-text">
              This is a square image. Add the "circle" class to it to make it appear circular.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card Profile-->
<!-- Card Profile-->
<!-- Card Profile-->



<div class="container">
  <div class="row">

    <div class="col s12 m4 offset-m4">
      <h5 class="header center">Connect with real students</h5>
      <div class="card">
        <div class="card-content" style="height:7rem;color:#fff;background-color:#ef9a9a;">
          <img src="/assets/qjeewon.jpg" alt="" class="circle responsive-img" style="border-radius:50%;width:20%;display:block;float:left;"> <!-- notice the "circle" class -->

          <div style="width:70%;float:right;background-color:#ef9a9a;">
            <span style="font-size:1.6rem;font-weight:700;">Jeewon So</span>
            <br>PhD in Nutritional and Metabolic Biology
          </div>
        </div>

        <div class="card-action">
          <span style="font-size:.8rem;">
            Message from Mentor :
          </span>
          <br>
          <span style="font-size:.8rem;font-weight:600;">
            Currently I am enrolled in a PhD program at Columbia Universtiy, NY.
            I'd love to meet new friends and help out perspective students!

          </span>
        </div>
      </div>  <!-- card -->

    </div> <!-- col s12 -->

  </div>    <!-- row -->

  <div class="row">
    <div class="col s3 l1 offset-l4" style="padding:0 0;margin-top:1rem;">

      <img src="/assets/smile.jpg" alt="" class="circle responsive-img" style="width:50%;display:block;margin:0 auto;"> <!-- notice the "circle" class -->

    </div>
    <div class="col s9 l3 " style="padding:0 0;margin-top:1rem;">
      <div class="chat">

      </div>
      <div class="dialogue z-depth-4">
        Hi, my name is Christine, a NYU graduate currently preparing for PhD in Nutrition. Can I ask which program your are in? I’d like to get some advice. Is there any chance we could meet for an hour for consulting? Thank you
      </div>

    </div>

    <!-- pics -->

  </div>   <!-- row -->


  <div class="row">
    <div class="col s9 l3 offset-l4" style="padding:0 0;margin-top:1rem;">
      <div class="chat">

      </div>
      <div class="dialogue z-depth-4">
  Hi, its my third year in Nutritional and Metabolic Biology at Columbia Graduate School of Arts, and Science. Are you in NYC now? I will do my best to help you out. Let's get a cup of coffee soon :)
      </div>

    </div>
    <div class="col s3 l1" style="padding:0 0;margin-top:1rem;">

      <img src="/assets/qjeewon.jpg" alt="" class="circle responsive-img" style="width:50%;display:block;margin:0 auto;"> <!-- notice the "circle" class -->

    </div>


  </div>  <!-- row -->



</div> <!-- container -->


<div class="mentor_container" style="background-color:#ffebee;">

    <div class="row">
        <div class="col s4 l1 offset-l1" style="float:left;">
          <img src="/assets/Brown.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/Cornell.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/CU.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/dartmouth.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/harvard.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/mit.jpg" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div><div class="col s4 l1" style="float:left;">
          <img src="/assets/Penn.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/Princeton.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>

        <div class="col s4 l1" style="float:left;">
          <img src="/assets/stan.jpg" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>
        <div class="col s4 l1" style="float:left;">
          <img src="/assets/Yale.gif" alt="" class="responsive-img" style="border-radius:50%;padding:.1rem;margin:0 auto;display:block;float:left;">

        </div>


    </div>


</div>






<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<!--  -->


















<div class="carousel carousel-slider center" data-indicators="true">
  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>
  <div class="carousel-item red white-text" href="#one!" style="">
    <div class="row">
      <div class="col s6 m6 l2 amber">ab</div>
      <div class="col s6 m6 l2 green">ab</div>
      <div class="col s6 m6 l2 blue">ab</div>
      <div class="col s6 m6 l2 white">ab</div>
      <div class="col s6 m6 l2 black">ab</div>
      <div class="col s6 m6 l2 blue">ab</div>
    </div>
  </div>
  <div class="carousel-item amber white-text" href="#two!">
    <h2>Second Panel</h2>
    <p class="white-text">This is your second panel</p>
  </div>
  <div class="carousel-item green white-text" href="#three!">
    <h2>Third Panel</h2>
    <p class="white-text">This is your third panel</p>
  </div>
  <div class="carousel-item blue white-text" href="#four!">
    <h2>Fourth Panel</h2>
    <p class="white-text">This is your fourth panel</p>
  </div>
</div>



<!-- carouselcarouselcarouselcarouselcarouselcarouselcarouselcarouselcarouselcarousel-->
<div class="carousel">

  <a class="carousel-item" href="#one!">
    <div class="col s6 m6 l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <%= image_tag('karan.jpg', :class => "circle responsive-img profile_img")%>

            <!-- <img src="/assets/karan.jpg" alt="" class="circle responsive-img profile_img"> -->
          </div>
        </div>
        <div class="row valign-wrapper">
          <div class="col s12 l12">
            <div class="black-text center-align">
              Karan Bhagat
            </div>
            <div class="univ_name center-align">
              University of Copenhagen
            </div>
            <div class="center-align" style="color:#26a69a;">
              From India
            </div>
          </div>
        </div>
      </div>
    </div>  </a>
  <a class="carousel-item" href="#two!">
    <img src="http://lorempixel.com/250/250/nature/2">
  </a>
  <a class="carousel-item" href="#three!">
    <img src="http://lorempixel.com/250/250/nature/3">
  </a>
  <a class="carousel-item" href="#four!">
    <img src="http://lorempixel.com/250/250/nature/4">
  </a>
  <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
  <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
  <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
  <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
  <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
  <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
  <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
  <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
  <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
  <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>
  <a class="carousel-item" href="#five!"><img src="http://lorempixel.com/250/250/nature/5"></a>
  <a class="carousel-item" href="#one!"><img src="http://lorempixel.com/250/250/nature/1"></a>
  <a class="carousel-item" href="#two!"><img src="http://lorempixel.com/250/250/nature/2"></a>
  <a class="carousel-item" href="#three!"><img src="http://lorempixel.com/250/250/nature/3"></a>
  <a class="carousel-item" href="#four!"><img src="http://lorempixel.com/250/250/nature/4"></a>



</div>


<div class="steps">
  <div id="step-note">
    How to Use
  </div>
  <div class="row">
          <div class="col s12 m12 l4">

            <div id="step" class="">
              <div class="step_img">
                <%= image_tag('profile.png', :style => "width:60%;max-width:60%;padding-top:3rem;")%>

              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 1: Search

                </h2>
                <h3>
                  <!-- 자신이 희망하는 학교의 선배님을 찾아 직접 연락하세요! -->
                  Specify school and Search for mentor!

                </h3>
              </div>

            </div>


          </div>
          <div class="col s12 m12 l4">

            <div id="step">
              <div class="step_img">
                <%= image_tag('sendfile.png', :style => "width:45%;max-width:45%;padding-top:5rem;")%>

              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 2: Send

                </h2>
                <h3>
                  Send Essay or Application to Mentor and make an online appointment
                  <!-- 입학 에세이, 대학원의 경우 State of Purpose를 멘토에게 이메일로 보내시고
                  상담시간을 예약하세요! -->

                </h3>
              </div>

            </div>


          </div>
          <div class="col s12 m12 l4">

            <div id="step" class="">
              <div class="step_img" style="background-size:100%;">
                <%= image_tag('skype.png', :style => "width:90%;max-width:90%;")%>



              </div>

              <div class="step_overview">
                <h2>

                </h2>
                <h2>
                  STEP 3: Get Consulting

                </h2>
                <h3 style="font-size:1rem;">
                  Using Skype or Google Hangout, Consult with the mentor about their essay and school life. <br>or Get a Coffee in Real Life!
                  <!-- 선배님과 "스카입","구글 행아웃" 아이디를 교환하시고, 실시간으로 상담을 받으세요! -->




                </h3>
              </div>

            </div>


          </div>

  </div>
</div>

<br>
<br>
<br>
<br>

<div class="features">
  <div id="note">
    Features Of Service
  </div>
  <div class="row">
          <div class="col s12 m12 l4">

            <div id="feature" style="">
              <div class="feature_img">
                <%= image_tag('talk.png', :style => "width:80%;max-width:80%;padding-top:3.5rem;")%>

              </div>

              <div class="feature_overview">
                <h2>

                </h2>
                <h2>
                  Real <br>
                  Interaction

                </h2>
                <h3>
                  Our Service aims to create real interactions between users
                  <!-- 유학 선배들과의 실시간 소통을 목표로 합니다. -->

                </h3>
              </div>

            </div>


          </div>
          <div class="col s12 m12 l4">

            <div id="feature">
              <div class="feature_img">
                <%= image_tag('paypal.png', :style => "width:65%;max-width:65%;padding-top:2rem;")%>

              </div>

              <div class="feature_overview">
                <h2>

                </h2>
                <h2>
                  Secured Payment

                </h2>
                <h3>
                  Our Service uses Paypal to make international money transaction secured
                  <!-- 페이팔 결제를 사용하기 때문에 안전합니다. -->

                </h3>
              </div>

            </div>


          </div>
          <div class="col s12 m12 l4">

            <div id="feature" style="">
              <div class="feature_img" style="background-size:100%;">
                <%= image_tag('team.png', :style => "width:40%;max-width:40%;padding-top:4.5rem;")%>



              </div>

              <div class="feature_overview">
                <h2>

                </h2>
                <h2>
                  Community

                </h2>
                <h3>
                  Our Service provides community platform for users to meet other international students around the globe
                  <!-- 커뮤니티 형성을 통해 필요한 정보를 공유하고자 합니다. -->

                </h3>
              </div>

            </div>


          </div>

  </div>
</div>

<script>
$(document).ready(function() {

  $('.slider').slider({full_width: true, interval:12000000});
  $('.slider').slider('pause');
  // Start slider
  $('.slider').slider('start');
  // Next slide
  $('.slider').slider('next');
  // Previous slide
  $('.slider').slider('prev');
  $('.carousel.carousel-slider').carousel({full_width: true});
  $('.carousel').carousel({dist:0,time_constant:1000,full_width:true});

});

</script>
