<!DOCTYPE html>
<html>
<head>
  <title>Tweedlemate.com</title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="//use.fontawesome.com/f56787f761.js"></script>
  <meta property="og:image" content="//scontent-icn1-1.xx.fbcdn.net/v/t31.0-8/15625598_1699084460422329_1742715952913614174_o.jpg?oh=8345414d96ea2ab270075ed8b2c84d22&oe=58EF4947" />

<meta property="og:description" content="Tweedlemate is a platform for international students. We are looking for people who can tutor/mentor other international students with writing essays, college applications, statement of purpose, language, housing, and providing general information about the place you live in." />
<meta property="og:url"content="http://www.tweedlemate.com/" />

<meta property="og:title" content="TweedleMate.com" />
<!-- start Mixpanel -->
<script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
mixpanel.init("3dac67921723ca917b85593280c94fc4");</script><!-- end Mixpanel -->
</head>
<body style="">

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '185078888571444',
      xfbml      : true,
      version    : 'v2.6'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<%= render 'shared/navbar' %>

<!-- <%= render 'shared/message' %> -->

<%= render 'shared/navbar2' %>




<% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
  <% end %>

<%= yield %>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89111539-1', 'auto');
  ga('send', 'pageview');

</script>


</body>
<!-- <% if current_page?(root_path) %>
<footer class="clearfix" style="width:100%;padding:1rem 0;text-align:center;background-color:black;clear:both;bottom:0;left:0;  ">
  Contact : hello@tweedlemate.com <br>Kakao: soethan89
</footer>
<% end %> -->
<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l3 push-l2 s12">
        <a href="/"><h5 class="white-text" style="font-weight:700;">Tweedlemate</h5></a>
        <p class="grey-text text-lighten-4" style="font-weight:600;">#Making your university admission from coincidence to consequence</p>
        <!-- <a href=""><i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="margin-right:20px;"></i></a>
        <i class="fa fa-youtube-square fa-3x" aria-hidden="true" style="margin-right:20px;"></i>
        <i class="fa fa-twitter-square fa-3x" aria-hidden="true" style="margin-right:20px;"></i> -->

      </div>
      <div class="col l6 push-l3 s12">
        <h5 class="white-text" style="font-weight:700;">Discover</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="/about">About</a></li>
          <li><a class="grey-text text-lighten-3" href="/how-to-use">FAQs</a></li>
          <li><a class="grey-text text-lighten-3" href="/users?utf8=%E2%9C%93&q%5Bcountry_cont%5D=&q%5Bcity_cont%5D=&q%5Bschool_cont%5D=&q%5Bmajor_cont%5D=&commit=Search">Search Profile</a></li>
          <li><a class="grey-text text-lighten-3" href="/school_list">All Categories</a></li>
          <li class="grey-text text-lighten-3">Contact: hello@tweedlemate.com</li>
          <!-- <li class="grey-text text-lighten-3">Contact: sbw266@nyu.edu</li> -->

        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
    © 2017 Copyright Tweedlemate, All rights reserved.
    <a class="grey-text text-lighten-4 right" href="#!"></a>
    </div>
  </div>
</footer>
</html>
